
body, h1, p, form, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
}

.top-bar {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

form {
    display: inline;
}

button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #181717;
}

.container {
    display: flex;
}

.sidebar {
    width: 20%;
    background-color: #f5f8fa;
    padding: 20px;
}

.tweet-list {
    width: 60%;
    margin: 0 auto;
}

.touite {
    border: 1px solid #e1e8ed;
    padding: 10px;
    margin-bottom: 10px;
}

.touite p {
    margin-bottom: 10px;
}